.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 1.5%;
  font-weight: bold;
}

.Create {
  background-color: #c1666b;
}

.About {
  background-color: #253d5b;
}
